//menu
-var menuItem = ["Бібліотека", "Psychological centers", "Practice Psychologist", "Blog"]
-var menuSubItem = ["Item1", "Item2", "Item3"]
-var menuSubItem2 = ["Item1", "Item2", "Item3"]
mixin menu(items)
  ul.sf-menu
    each item in menuItem
      if item == menuItem[2]
        li: a(href="#") #{item}
          ul
            each item in menuSubItem
              li: a(href="#") #{item}
      else if item == menuItem[3]
        li: a(href="#") #{item}
          ul
            each item in menuSubItem
              li: a(href="#") #{item}
      else
        li: a(href="#") #{item}
// lang
mixin lang
    .ui.floating.dropdown.labeled.icon
        i(class="fa fa-language", aria-hidden="true")
        span.text
            | Select Language
        .menu
            .item
                | English
            .item
                | French
            .item
                | German
            .item
                | Hungarian
            .item
                | Polish
            .item
                | Ukraine

// register block
mixin top_menu()
  ul
    li
      a(href="#")
        i(class="fa fa-home" aria-hidden="true")
        |Головна
    li
      a(href="#")
        i(class="fa fa-envelope" aria-hidden="true")
        |Contacts
    li
      +lang
// register block
mixin regist_user()
  ul
    li
      a(href="#" class="signin")
       i(class="fa fa-user" aria-hidden="true")
       |Sign In
      .ui.small.modal
          i(class="close inverted icon")
          .header
              | Wellcome, Guest!
          .content
              form(method="post" class="ui form")
                .field
                  .ui.left.icon.input
                    input(type="text" name="name" placeholder="Your name")
                    i(class="user icon")
                .field
                  .ui.left.icon.input
                    input(type="password" name="pass" placeholder="Your pass")
                    i(class="lock icon")
                .inline.field.error
                .ui.toggle.checkbox
                  input(tabindex="0" class="hidden" type="checkbox")
                  label
                    | Remember me
              .ui.horizontal.divider
                  | Enter via social
              .ui.facebook.button
                  i(class="facebook icon")
                  | facebook
              .ui.twitter.button
                  i(class="twitter icon")
                  | twitter
              .ui.google.plus.button
                  i(class="google plus icon")
                  | google plus
              .ui.linkedin.button
                  i(class="linkedin icon")
                  | linkedin
          .actions
              .ui.cancel.button.
                  Cancel
              input(type="submit" class="ui primary submit button" value="Sign In")

    li
      a(href="#" class="signup")
        i(class="fa fa-users" aria-hidden="true")
        |Register your center
// card info
mixin res_post(text,span)
    li
        a(href="#")
            img(src="", alt="")
        a(href="#")
            | #{text}
            span.
                #{span}
// carousel
mixin carouselPanel(name, imgUrl)
    .panel
        .image
            img(src="#{imgUrl}")
        h2= name

